/*signos de ayuda: <> ""/ {}*/
h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background-color: #202224;
    border-bottom: 1px solid #202224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    color: rgb(200, 200, 200);
}