header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background-color: #2e3233;
    border-bottom: 1px solid #2e3233;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    color: #2e3233;
}
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    margin-left: calc(50% - 50vw);

    min-height: 100vh;
    background-color: #2e3233;
}

.main-page .Logo {
  max-width: 250px; 
  width: 100%;      
  height: auto;     
  transition: transform 0.5s;
}

.main-page .Logo:hover {
  transform: scale(1.2);
  transition: transform 0.75s;
}

.main-page h2, .main-page h1 {
  text-align: center;
  color: #ddd;
  margin-top: 18px;
}